.DS_Store
1-teas-api/.DS_Store
1-teas-api/node_modules
2-books/.DS_Store
2-books/node_modules
3-web-scrapper/.DS_Store
3-web-scrapper/node_modules
4-recipes-app/.DS_Store
4-recipes-app/node_modules
5-task-manager/.DS_Store
5-task-manager/node_modules
5-task-manager/.env