<h1>Best Books</h1>
<h2>Highest rated books</h2>

<% for (const year in bestBooks) {%>
    <h3>Year: <%= year %></h3>
    <ul>
        <% for (const book of bestBooks[year]) { %>
            <li>
                <%= book.title %>
                (<%= book.rating %>)
            </li>
        <% } %>
    </ul>
<% } %>