<%- include('./partials/header') %>

<main>
  <h1>Big Books</h1>
  <h2>Over 500 pages</h2>
  
  <ul>
    <% for (const book of books) { %>
      <li>
        <%= book.title %>
        <b><%= book.pages %> pages</b>
      </li>
    <% } %>
  </ul>
</main>