<%- include('./partials/header') %>

    <main>
       <h1>My Library</h1>
       <p>This website is an exercise I made to work with Node.js, Express and EJS.</p>
       <p>It's basic but functional.</p>
       <p>It needs lots of work but I will live it here to work in other projects.</p>
    </main>
</body>

</html>